@use '../../scss/global/variables' as *;

.emptyCardContainer,
.cardContainer {
  width: 300px;
  height: 257px;
  background-color: #f8f9fa;
}

.emptyCardContainer {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: stretch;
  & > img {
    width: 193px;
    height: 193px;
  }
}

.good {
  color: $goodItemColorVividDark;
}

.bad {
  color: $badItemColorVivid;
}

.action {
  color: $actionItemColorVivid;
}

.cardButton {
  &:hover {
    background: white;
    border-color: #4c6ef5;
  }
}

.closeSprintButton {
  position: absolute;
  padding: 12px;
}
