@use '../../scss/global/variables' as *;

.emptyCardContainer,
.cardContainer {
  min-width: 300px;
  min-height: 257px;
  background-color: #f8f9fa;
}

.emptyCardContainer {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: stretch;
  & > img {
    width: unset;
  }
}

.good {
  color: $goodItemColorVividDark;
}

.bad {
  color: $badItemColorVivid;
}

.action {
  color: $actionItemColorVivid;
}

.cardButton {
  &:hover {
    background: white;
    border-color: #4c6ef5;
  }
}
