$goodItemColor: #bdcf65;
$badItemColor: #d45f5f;
$actionItemColor: #9b77d7;
$goodItemColorVivid: rgba(150, 255, 120, 0.85);
$goodItemColorVividDark: rgba(64, 162, 77, 0.84);
$goodItemColumnHeader: #b9cb62;
$badItemColorVivid: rgba(255, 85, 90, 0.85);
$actionItemColorVivid: rgba(90, 90, 255, 0.85);

$mantineBlue: #228be6;
